data/raw/
data/processed/
experiments/checkpoints/
experiments/logs/
/models/old/
data/.DS_Store
.DS_Store

data/raw/
data/processed/
experiments/checkpoints/
experiments/logs/
/models/old/
/venv/
=0.4.1
=0.17.1
experiments/lstm_20260118_143948/checkpoints/best_model.ckpt
experiments/lstm_20260118_143948/tensorboard_logs/version_0/events.out.tfevents.1768743597.makalu59.rz.tu-ilmenau.de.69926.0
src/data/__pycache__/__init__.cpython-36.pyc
src/evaluation/__pycache__/metrics.cpython-36.pyc
experiments/lstm_20260118_143948/tensorboard_logs/version_0/hparams.yaml
src/data/__pycache__/data_loader.cpython-36.pyc
src/models/__pycache__/__init__.cpython-36.pyc
src/models/__pycache__/base_model.cpython-36.pyc
src/models/__pycache__/hybrid_models.cpython-36.pyc
src/models/__pycache__/lstm_model.cpython-36.pyc
src/evaluation/__pycache__/__init__.cpython-36.pyc
